<!DOCTYPE html>
<html>
<head>
  <title>Contact</title>
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <% include nav.ejs %>
  <h1>Contact</h1>
  <form action="/contactAction" method="post">
    <table>
     <tr>
      <td>name</td>
      <td><input type="text" name="name"></td>
     </tr>
     <tr>
      <td>email</td>
      <td><input type="email" name="email"></td>
     </tr>
     <tr>
      <td><input type="submit"></td>
     </tr>
   </table>
 </from>
</body>
</html>
