<style>
  body{background: skyblue;font-family: verdana;color: #fff;padding: 30px;}
  h1{font-size:48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
  h3{font-size:30px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
  p,li{font-size: 16px; text-align: center;}
  ul{list-style-type: none; padding: 0}
</style>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/profile/jeet">Profile</a></li>
  </ul>
</nav>
