<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <% include nav.ejs %>
  <h1>Welcome to <%= qs.name %>'s profile</h1>
  <h1>Age : <%= qs.age %></h1>
  <h1>clg : <%= data.clg %></h1>
  <h3>Hobbies</h3>
  <ul>
    <% data.hobbies.forEach(function(item){  %>
        <li><%= item %></li>
    <%  }); %>
  </ul>
</body>
</html>
