<!DOCTYPE html>
<html>
<head>
  <title>home</title>
<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h3>Name in form : <%= rb.name%></h3>
  <h3>Email in form : <%= rb.email%></h3>
</body>
</html>
